{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": [
            "> 1%",
            "ios 7"
          ]
        }
      }
    ],
    "stage-2"
  ],
  "plugins": [
    [
      "transform-react-jsx",
      {
        "pragma": "preact.h"
      }
    ]
  ]
}
